BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 015507ab3c0d

INSERT INTO alembic_version (version_num) VALUES ('015507ab3c0d') RETURNING alembic_version.version_num;

-- Running upgrade 015507ab3c0d -> 6983da7f8b4f

CREATE TYPE profile_role AS ENUM ('client', 'provider');

CREATE TABLE profiles (
    id UUID NOT NULL, 
    user_id VARCHAR(64) NOT NULL, 
    role profile_role NOT NULL, 
    display_name VARCHAR(100) NOT NULL, 
    bio VARCHAR(500), 
    city VARCHAR(100), 
    latitude FLOAT, 
    longitude FLOAT, 
    services JSON, 
    photo_url VARCHAR(300), 
    rating FLOAT, 
    rating_count INTEGER DEFAULT '0' NOT NULL, 
    name VARCHAR(100), 
    second_name VARCHAR(100), 
    email VARCHAR(255), 
    document_type VARCHAR(20), 
    document VARCHAR(50), 
    department VARCHAR(100), 
    postal_code VARCHAR(20), 
    street VARCHAR(120), 
    number VARCHAR(20), 
    apartment VARCHAR(20), 
    birth_date DATE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    CONSTRAINT pk_profiles PRIMARY KEY (id), 
    CONSTRAINT uq_profile_user_id UNIQUE (user_id), 
    CONSTRAINT uq_profiles_email UNIQUE (email), 
    CONSTRAINT uq_profiles_document UNIQUE (document)
);

CREATE INDEX ix_profiles_city ON profiles (city);

UPDATE alembic_version SET version_num='6983da7f8b4f' WHERE alembic_version.version_num = '015507ab3c0d';

COMMIT;

