# Framework principal
fastapi==0.110.2
uvicorn[standard]==0.30.1

# Base de datos
sqlalchemy[asyncio]==2.0.37
asyncpg==0.30.0
alembic==1.13.1

# Configuración / validación
pydantic==2.9.2
pydantic-settings==2.2.1

# Observabilidad / métricas
prometheus-client==0.20.0
prometheus-fastapi-instrumentator==6.0.0

# Logs y utilidades
python-dotenv==1.0.1

# JWT
python-jose[cryptography]==3.3.0

# Paginación
fastapi-pagination

# CORS
orjson==3.10.7

# Kafka
aiokafka>=0.10


# Testeo
pytest==8.2.0
httpx==0.27.0
email-validator==2.3.0
aiosqlite==0.21.0
# Media storage
minio==7.2.7
python-multipart==0.0.9
